In [1]:
import json

In [5]:
with open("mongo_dump.json") as file:
    users_unprocessed = json.load(file)['users']

In [6]:
from src.scrapped_data_decoders.multi_decoder import MultiDecoder
decoder = MultiDecoder()

In [7]:
user_preferences = [decoder.decode(user) for user in users_unprocessed]

In [9]:
import pandas as pd
pd.DataFrame(user_preferences)

,is_closed_profile,city_id,city_name,country_id,country_name,sex_id,sex_value,age_is_present,age,political_pref_id,polit_pref_value,life_main_id,life_main_value,people_main_id,people_main_value,alcohol_attitude_id,alcohol_attitude_value
0,False,2,Санкт-Петербург,1,Россия,1,Male,False,0,2,Socialist,0,Unknown,0,Unknown,0,Unknown
1,True,0,Unknown,0,Unknown,1,Male,False,0,0,Unknown,0,Unknown,0,Unknown,0,Unknown
2,False,1,Москва,1,Россия,2,Female,True,32,0,Unknown,0,Unknown,0,Unknown,0,Unknown
3,False,1,Москва,1,Россия,2,Female,False,0,0,Unknown,0,Unknown,0,Unknown,0,Unknown
4,False,2,Санкт-Петербург,1,Россия,2,Female,False,0,0,Unknown,0,Unknown,0,Unknown,0,Unknown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87978,False,1952694,Bursa,0,Unknown,2,Female,True,38,0,Unknown,0,Unknown,0,Unknown,0,Unknown
87979,False,60,Казань,1,Россия,1,Male,False,0,3,Moderate,2,Career and Money,6,Humor and Zest,1,Strongly Negative
87980,False,649,Гродно,3,Беларусь,1,Male,False,0,0,Unknown,0,Unknown,0,Unknown,0,Unknown
87981,False,0,Unknown,0,Unknown,2,Female,True,17,0,Unknown,0,Unknown,0,Unknown,0,Unknown
87982,True,0,Unknown,1,Россия,2,Female,True,29,0,Unknown,0,Unknown,0,Unknown,0,Unknown